@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,700');

body{
  font-family: 'IBM Plex Mono', monospace;
  background-color: #242428;
  color: #E1DDDE;
  margin: 0;
}

.hero-wrapper{
  position: relative;
  height: 100vh;
}

#hero{
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.hero-img{
  background-image: url("../imgs/china.jpg");

}

.hero-img-mask{
  z-index: 2;
  background-image: url("../imgs/mask.png");
  background-size: 100% !important;
  background-position: bottom;
}

.parallax-h1{
  position: absolute;
  height: 100vh;
  left: 3%;
}

.hero-title{
  position: absolute;
  font-weight: 700;
  font-size: 18em;
  z-index: 1;
  color: white;
  margin: 0;
  bottom: 70px;
}

.about-wrapper{
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  width: 85%;
  max-width: 1150px;
  min-width: 800px;
  left: 50%;
  transform: translatex(-50%);
  height: auto;
  margin-top: 230px;
  margin-bottom: 130px;
}

.about-text-wrapper{
  padding-right: 20px;
  /* transform: translatey(25%); */
}

.about-h1{
  font-weight: 700;
  font-size: 2.5em;
  padding-bottom: 20px;
}

.about-body{
  font-weight: 300;
  font-size: 1.15em;
  line-height: 27px;
}

.parallax-about-img{
  position: relative;
  height: 100%;
}

.about-img{
  position: relative;
  width: 100%;
  max-width: 390px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(50px);
  box-shadow: 0 20px 80px -30px rgba(0,0,0,0.35);
}

.img-gallery-wrapper{
  position: relative;
  list-style: none;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 10px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 1500px;
  margin-bottom: 130px;
}

.img-gallery-wrapper img{
  position: relative;
  width: 100%;
  border: 0;
  display: inline-block;
  padding-bottom: 7px;
}

.img-gallery-wrapper img:hover{
  z-index: 100;
}

.grid-two-imgs{
  height: 410px;
}

/* #column2{
  transform: translateY(250px);
}

#column3{
  transform: translateY(150px);
} */

#gallery1{
  left: -20px;
  width: 25%;
  min-width: 310px;
  }

  #gallery2{
    left: -50px;
    top: 25px;
    z-index: 1;
    min-width: 200px;
    width: 230px;
  }

  #gallery3{
    left: -11%;
    top: -35px;
    z-index: 0;
    width: 25%;
    min-width: 470px;
  }

  #gallery4{
    left: 10px;
    z-index: 2;
    min-width: 310px;
  }

  #gallery5{
    left: 9px;
    top: -10px;
    z-index: 0
  }

  #gallery6{
    z-index: 4;
    top: -80px;
    min-width: 280px;
  }
  #gallery7{
    z-index: 3;
    min-width: 350px;
    left: -65px;
    top: -105px;
    margin-bottom: -100%;
  }
  #gallery8{
    z-index: 3;
    left: -122px;
    top: -195px;
    min-width: 432px;
  }
  #gallery9{
    z-index: 0;
    top: 19px;
    left: -291px;
    min-width: 400px;
  }
  #gallery10{
    z-index: 1;
    top: -19px;
    left: -191px;
    min-width: 310px;
  }
  #gallery11{
    z-index: 2;
    top: -498px;
    left: 90px;
    min-width: 220px;
  }
  #gallery12{
    z-index: 1;
    top: -90px;
    left: 0px;
    min-width: 300px;
  }
  #gallery13{
    z-index: 2  ;
    top: -5px;
    left: -30px;
    min-width: 331px;
    margin-bottom: -100%;
  }
  #gallery14{
    z-index: 0;
    top: -150px;
    left: -40px;
    min-width: 460px;
  }
  #gallery15{
    z-index: 1;
    top: 124px;
    left: -310px;
    min-width: 340px;
  }
  #gallery16{
    z-index: 2;
    top: -167px;
    left: 117px;
    min-width: 180px;
  }
  #gallery17{
    z-index: 0;
    top: -270px;
    left: 0px;
    min-width: 400px;
  }
  #gallery18{
    z-index: 0;
    top: -30px;
    left: 60px;
    min-width: 520px;
  }
  #gallery19{
    z-index: 1;
    top: -490px;
    left: 280px;
    min-width: 600px;
  }
  #gallery20{
    z-index: 1;
    top: -90px;

    min-width: 280px;
  }

  #gallery21{
    z-index: 1;
    top: -90px;
    left: -10px;
    min-width: 600px;
    margin-bottom: 0;
  }
  }

li {
  list-style: none;
}

.stripGallery{
  /* padding-top: 100px; */
}

.strip{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  width: 85%;
  max-width: 1500px;
  position: relative;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  padding-bottom: 200px;
  }

.column{
  position: relative;
  width: 100%;
}

.columnImages{
  width: 100%;
  margin-bottom: 8px;
  width: 100%;
}

source{
  margin: 0;
  padding: 0;
  border: 0;
}

.columnTextWrap {
  margin-bottom: 50px;
  padding-right: 10px;
  text-align: center;
}

.columnTextWrap h1{
  font-weight: 700;
  font-size: 300%;
  margin: 0;
}

.columnTextWrap h2{
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0;
}
